body{
    margin: 0 auto;
    position: relative;
    width: 390px;
}
a{
  text-decoration: none;
  color: #2e2e2e;
}
/* 페이지네이션 */
.paging{
  width: 360px;
  text-align: center;
}
.com-flg{
  position: absolute;
  top: 10px;
  left: 15px;
}
.btn-prev span{
  font-size: 16px;
}
.middle-page-num{
  font-size: 22px;
}
.btn-next span{
  font-size: 16px;
}
/* 취소선 표시 */
.active{
  text-decoration: line-through;
}
.container{
    position: absolute;
    border: 3px solid black;
    padding: 10px 20px 10px 20px;
    width: 390px;
    z-index: 99;
    top: 210px;
    margin: 0 auto;
    height: 634px;
    background-color: #fff;
    border-radius: 25px 25px 0 0;
}

.container .inner{
    height: 590px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.container .inner .box{
    width: 160px;
    margin-top: 15px;
    text-align: center;
}
.container .inner .box .box-title{
    width: 160px;
    padding: 5px;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    border: 2px solid #2e2e2e;
    border-radius: 10px;
    overflow: hidden;
  }
  .container .inner .box .box-title a:hover{
    text-decoration: underline;
  }
.container .inner .box .box-content{
    height: 90px;
    padding-top: 5px;
    padding-left: 30px;
    text-align: left;
    line-height: 25px;
    background-color: #F8F8F8;
    box-shadow: 0px 3px 2px 1px rgba(0,0,0,0.2);
    overflow: hidden;
}
.container .inner .box .box-content ul{
    list-style: circle;
}
/* Button */
 .btn-group{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    margin-bottom: 10px;
}
a.button {
    display: block;
    position: relative;
    width: 120px;
    padding: 0;
    margin: 10px 20px 10px 20px;
    font-weight: 600;
    text-align: center;
    line-height: 50px;
    color: #FFF;
    border-radius: 5px;
    transition: all 0.2s ;
  }
  .btnRed {
    background: #b10000;
  }
  .button {
    background: none;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
  }
  .btnFloat1:before {
    content: 'ALL DEL';
    display: block;
    position: absolute;
    left: 0;
    width: 120px;
    height: 50px;
    border-radius: 5px;
    transition: all 0.2s ;
  }
  .btnFloat2:before {
    content: 'INSERT';
    display: block;
    position: absolute;
    left: 0;
    width: 120px;
    height: 50px;
    border-radius: 5px;
    transition: all 0.2s ;
  }
  .btnRed.button:before {
    background: #b10000;
  }
  .button:hover:before {
    margin-top: -2px;
    margin-left: 0px;
    transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);
    box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.25);
  } 

