@charset "utf-8";

/* 목표 설정영역 height값은 전체높이에서 header제외한 값으로 고정 */
.set_obj {
    width: 390px;
    height: 564px;
    background-color: #131313;
    margin: 0 auto;
}

.goal_text {
    display: inline-block;
    margin: 100px 32px;
}
